*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: "Familjen Grotesk", sans-serif;
  background-color: black;
}

ul {
  list-style: none;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  background-color: black; /* Visible background */
  color: white;
  transition: opacity 0.5s ease-in-out; /* Smooth fade effect */
  opacity: 1; /* Fully visible by default */
  pointer-events: auto; /* Enable interaction by default */
}




.top ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.top ul li {
  position: relative;
  margin-right: 20px;
  padding-bottom: 2px;
}

.top li {
  margin-left: 30px;
}

.top li a {
  color: #fff;
  text-decoration: none;
}

.top ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: right center;
}

.logo {
  width: 210px;
  height: auto;
}

.logo img {
  display: block;
  width: 100%;
  height: auto;
}

.top ul li a:hover::after {
  transform: scaleX(1);
}

/* Stats Section */
.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px; /* Adjust as needed to account for navbar height */
  gap: 50px; /* Space between each stat box */
  color: white;
}

.stats div {
  text-align: center;
}

.counter {
  font-size: 5rem; /* Makes numbers large */
  font-weight: bold;
  display: block;
}

h4 {
  font-size: 1.5rem; /* Adjust label size */
  margin-top: 10px;
  text-transform: uppercase;
  color: white;
}




